.education {
  display: flex;
  padding: 20px;
}

.education__image > img {
  height: 40px;
  object-fit: contain;
  margin-top: 30px;
}

.education__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
  margin-top: -15px;
}

.education__info > h3 {
  font-size: 20px;
  font-weight: 600;
}

.education__info > h4 {
  font-size: 18px;
}

.education__info > p {
  color: gray;
}

.education__infoIcon {
  color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 40px;
}

@media (max-width: 640px) {
  .education__info > h3 {
    font-size: 18px;
    font-weight: normal;
  }
  .education__info > h4 {
    font-size: 16px;
  }
}
